@import '../../../node_modules/packard-belle/src/_scss/w98/mixins/box-shadows.scss';
// @import "xp.css/dist/98.css";

.Window--blocked * {
  pointer-events: none !important;
  user-select: none;
}

@media screen and (max-width: 800px) {
  .rank-list-wrapper {
    zoom: 0.65;
    width: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 492px) {
  .rank-list-wrapper {
    zoom: 0.55;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .rank-list-wrapper {
    zoom: 0.4;
    width: 100%;
  }
}

.HRRanking {
  div {
    font-family: 'FixedSys', 'Courier New', Courier, monospace;
    resize: none;
    white-space: nowrap;
    outline: none;
    min-height: 100%;
    border: none;
    flex-grow: 1;
  }
  &__div {
    overflow: hidden;
    background-image: url('https://upload.cc/i1/2022/01/29/QfTVZd.jpeg');
    background-size: cover;
    background-color: white;
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    .wrapper::-webkit-scrollbar-button:vertical:decrement:end {
      display: none;
    }
    .wrapper::-webkit-scrollbar-button:vertical:increment:start {
      display: none;
    }
    .wrapper {
      width: 100%;
      // background: #000;
      display: flex;
      @media screen and (min-width: 880px) {
        justify-content: center;
      }
      .logo-wrapper {
        width: 60%;
        max-width: 500px;
        min-width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 6rem;
        div {
          margin-bottom: 2rem;
          min-width: 320px;
          text-align: center;
          img {
            width: 30vw;
            min-width: 300px;
            max-width: 400px;
          }
        }
        .title {
          p {
            text-align: center;
            font-weight: bold;
            font-size: 3rem;
            line-height: 1rem;
          }
        }
        .subtitle {
          margin-top: 5rem;
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          flex-wrap: wrap;
          span {
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            font-weight: bold;
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
          }
        }
      }
      .content-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        .rank-list-wrapper {
          display: flex;
          width: 100%;
          max-width: 1042px;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          filter: drop-shadow(5px 10px 0 yellow);
          .rank-wrapper {
            margin: -1rem;
            .rank {
              margin: auto;
              margin-top: 3rem;
              min-width: 200px;
              // width: 200px;
              display: flex;
              flex-direction: column;
              padding: 3rem;
              padding-top: 3.5rem;
              clip-path: polygon(
                50% 0,
                80% 20%,
                80% 80%,
                50% 100%,
                20% 80%,
                20% 20%
              );
              background: rgb(37, 37, 37);
              gap: 0;
              flex-wrap: wrap;
              .avatar {
                clip-path: circle(30% at 50% 50%);
                width: 100%;
                img {
                  object-fit: contain;
                  width: 10rem;
                  text-align: center;
                }
              }
              .counter {
                color: #fff;
                font-size: 2rem;
              }
              .name-box-wrapper {
                display: flex;
                justify-content: center;
                margin-left: 1em;
                .name-box {
                  font-weight: bold;
                  font-size: 1.5rem;
                  border: 1px solid #fff;
                  background: #fff;
                  padding: 1rem;
                  margin-bottom: 1.5rem;
                  &:first-child {
                    border-right: solid 2px #252525;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 880px) {
    &__div .wrapper .content-wrapper .super {
      overflow-y: scroll;
      height: 100%;
      &::-webkit-scrollbar-button:vertical:decrement:end {
        display: none;
      }
      &::-webkit-scrollbar-button:vertical:increment:start {
        display: none;
      }
    }
  }

  @media screen and (max-width: 1055px) {
    &__div .wrapper {
      overflow-y: scroll;
    }
    &__div .wrapper .content-wrapper .rank-list-wrapper {
      margin-top: 3rem;
      padding-bottom: 2rem;
    }

    &__div .wrapper .content-wrapper .rank-list-wrapper .rank-wrapper {
      margin: 1rem;
    }

    &__div .wrapper .logo-wrapper {
      margin-left: 0;
    }

    &__div .wrapper .content-wrapper .rank-list-wrapper .rank-wrapper .rank {
      margin-top: 0rem;
    }
  }

  @media screen and (max-width: 913px) {
    &__div .wrapper {
      flex-direction: column;
      flex-wrap: nowrap;
      overflow-y: scroll;
      align-items: center;
    }
    &__div .wrapper .logo-wrapper,
    &__div .wrapper .content-wrapper {
      width: 100%;
    }
    &__div .wrapper .logo-wrapper .subtitle {
      margin-top: 1rem;
      justify-content: center;
    }
  }

  @media screen and (max-width: 640px) {
    &__div .wrapper {
      flex-direction: column;
      flex-wrap: nowrap;
      overflow-y: scroll;
      // align-items: flex-start;
    }

    &__div .wrapper .content-wrapper {
      justify-content: start;
      padding-bottom: 2rem;
    }

    &__div .wrapper .logo-wrapper,
    &__div .wrapper .content-wrapper {
      width: 100%;
    }

    &__div .wrapper .logo-wrapper div {
      margin-bottom: 1rem;
    }

    &__div .wrapper .logo-wrapper {
      margin-left: 0;
      padding-top: 2rem;
    }
    &__div .wrapper .logo-wrapper .title {
      margin: 0;
    }

    &__div .wrapper .logo-wrapper .title p {
      font-size: 2rem;
    }

    &__div .wrapper .logo-wrapper .subtitle {
      margin-top: 1rem;
      justify-content: center;
    }

    &__div .wrapper .logo-wrapper .subtitle span {
      font-size: 1.5rem;
      font-weight: bold;
      width: 30%;
      &:nth-child(even) {
        flex: 0;
      }
      &:nth-child(5) {
        flex: 2;
      }
    }
    &__div .wrapper .logo-wrapper div img {
      width: 40vw;
    }
    &__div .wrapper .logo-wrapper .subtitle {
      margin-bottom: 10px;
    }

    &__div .wrapper .content-wrapper {
      padding-bottom: 0;
    }

    &__div .wrapper .content-wrapper .rank-list-wrapper {
      margin-top: 0;
      padding-bottom: 2rem;
    }

    &__div .wrapper .content-wrapper .rank-list-wrapper .rank-wrapper {
      margin: -1rem;
      margin-top: 0.5rem;
    }

    &__div
      .wrapper
      .content-wrapper
      .rank-list-wrapper
      .rank-wrapper
      .rank
      .name-box-wrapper {
      // transform: scale(0.7);
    }

    &__div .wrapper .content-wrapper .rank-list-wrapper .rank-wrapper .rank {
      margin-top: 1rem;
    }

    &__div
      .wrapper
      .content-wrapper
      .rank-list-wrapper
      .rank-wrapper
      .rank
      .counter {
      font-size: 2.5rem;
    }

    // margin: auto;
  }

  @media screen and (max-width: 425px) {
  }

  @media screen and (min-width: 1440px) {
    &__div .wrapper .content-wrapper .rank-list-wrapper .rank-wrapper .rank {
      padding: 5rem;
      padding-top: 2rem;
    }
  }
}
